html,
body {
  height: 98%;
}

canvas {
  margin: auto;
}

.canvas_container {
  height: 30%;
}

.jasmine_html-reporter {
  height: 68%;
  margin-top: 20px
}

.jasmine-failures {
  width: 800px;
}

.jasmine-results {
  height: 80%;
  overflow-y: scroll;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
