html,
body {
  height: 98%;
  color: #626e7a;
  font-family: sans-serif;
}

.container {
  height: 40%;
}

.canvas {
  padding: 0;
  margin: auto;
  display: block;
}

.screen {
  display: inline;
  width: 32%;
  height: 90%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.jasmine_html-reporter {
  height: 60%;
}

.jasmine-failures {
  width: 800px;
}

.jasmine-results {
  height: 80%;
  overflow-y: scroll;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
